/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* remove scrollbar */
body::-webkit-scrollbar {
  display: none;
}
nav .right_icon figure:hover ul li ul::-webkit-scrollbar {
  display: none;
}
/* nav bar */
nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

/* logo */
nav .logo {
  width: fit-content;
  height: fit-content;
}
nav .logo img {
  width: 150px;
  height: max-content;
}
/* search */
nav .search {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 35px;
}
nav .search input {
  font-size: medium;
  padding: 0 10px;
  width: 35vw;
  height: 35px;
  margin-left: 80px;
  outline: none;
  border-radius: 0;
  border: 1px solid silver;
}
nav .search .search_con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  border: 1px solid silver;
  cursor: pointer;
}

nav .search .search_con .fa-search {
  font-size: large;
  display: flex;
}
nav .search .search_con:hover {
  background-color: rgb(241, 234, 234);
}
/* Mic */
nav .search .mic {
  background-color: rgb(231, 230, 230);
  margin-left: 15px;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
nav .search .mic img {
  width: 20px;
  height: 20px;
}
nav .search .mic:hover {
  background-color: rgb(223, 221, 221);
}

/* right icon */
nav .right_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
nav .right_icon .user {
  background-color: rgb(241, 238, 238);
}
nav .right_icon .icon:nth-child(1) {
  display: none;
}
nav .right_icon .icon {
  width: 34px;
  height: 34px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
nav .right_icon .icon img {
  width: 18px;
  height: 18px;
}
nav .right_icon .icon:hover {
  background-color: rgb(223, 221, 221);
}
/* comman right_icon in css */
/* remove list icon */
nav .right_icon figure ul li ul,
nav .right_icon figure ul li {
  list-style: none;
}
/* hover */
nav .right_icon figure:hover ul li ul .hover:hover {
  background-color: rgb(238, 235, 235);
}
/* box */
nav .right_icon figure ul li ul {
  display: none;
  position: absolute;
  border: 1px solid silver;
}
nav .right_icon figure:hover ul li ul {
  display: list-item;
  border-radius: 5px;
  background-color: rgb(255, 253, 253);
  width: fit-content;
  height: fit-content;
  overflow: scroll;
}
/* remove link */
nav .right_icon figure:hover ul li ul li a {
  text-decoration: none;
  color: black;
}
/* Dashboard */
nav .right_icon .dashboard ul li ul {
  right: 120px;
}
nav .right_icon .dashboard:hover ul li ul .hover {
  padding: 10px;
}
/* content */
nav .right_icon .dashboard:hover ul li ul li img {
  margin-right: 10px;
  margin-top: 6px;
}
nav .right_icon .dashboard:hover ul li ul li span {
  font-weight: 300;
}
/* bell */
nav .right_icon .bell ul li ul {
  right: 75px;
}
nav .right_icon .bell:hover ul li ul {
  height: 400px;
}
nav .right_icon .bell:hover ul li ul .padding {
  padding: 15px 6px;
}
nav .right_icon .bell:hover ul li ul .hr {
  padding: 15px 0;
}
/* content */
/* 1 */
nav .right_icon .bell:hover ul li ul li span {
  float: left;
}
nav .right_icon .bell:hover ul li ul li img {
  float: right;
}
/* 2 */
nav .right_icon .bell:hover ul li ul .flex {
  display: flex;
  align-items: center;
}

nav .right_icon .bell:hover ul li ul li .dot {
  padding-bottom: 20px;
  font-size: xx-large;
  color: blue;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .bell_user_con {
  border: 1px solid silver;
  border-radius: 50%;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .bell_user {
  margin: 5px;
}

nav .right_icon .bell:hover ul li ul li p {
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-size: small;
  margin: 0 5px;
}
nav .right_icon .bell:hover ul li ul li .banner {
  width: 50px;
  height: max-content;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .dots {
  width: fit-content;
  height: 15px;
  margin: 0 3px;
  margin: 0 10px;
}
/* user */
nav .right_icon .user ul li ul {
  right: 35px;
}
nav .right_icon .user:hover ul li ul {
  height: 500px;
}
/* flex */
nav .right_icon .user:hover ul li ul .flex {
  display: flex;
  align-items: center;
}
/* content */
/* user container */
nav .right_icon .user:hover ul li ul li .user_con {
  border: 1px solid silver;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(250, 245, 245);
  border-radius: 50%;
  margin: 10px;
  margin-right: 6px;
}
nav .right_icon .user:hover ul li ul .one {
  margin: 10px 0;
}
nav .right_icon .user:hover ul li ul li .user {
  margin: 6px;
}
/* account */
nav .right_icon .user:hover ul li ul li .account {
  font-size: small;
  margin: 0 10px;
}
nav .right_icon .user:hover ul li ul li .account p:nth-child(1) {
  margin-bottom: 10px;
  font-weight: 400;
}
nav .right_icon .user:hover ul li ul li .account p:nth-child(2) {
  color: blue;
}
/* 2 */
nav .right_icon .user:hover ul li ul li .first {
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* hover */
nav .right_icon .user:hover ul li ul .hover {
  padding: 5px;
}
nav .right_icon .user ul li ul li .restricted {
  margin: 10px;
}
/* header */
header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: scroll;
  border-bottom: 1px solid silver;
}
header::-webkit-scrollbar {
  display: none;
}
/* explore */
header .explore {
  border: 1px solid silver;
  padding: 3px;
  margin: 0 4px;
  background-color: rgb(241, 234, 234);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .explore img {
  width: 22px;
  height: 22px;
  margin-right: 3px;
}
/* line */
header .line {
  width: 10px;
  font-size: 2.6em;
  margin: 0 4px;
  padding-bottom: 8px;
}
/* branches */
header .branches {
  border: 1px solid silver;
  padding: 5px 10px;
  margin: 0 4px;
  background-color: rgb(241, 234, 234);
  border-radius: 20px;
  cursor: pointer;
  text-transform: capitalize;
}
header .explore:hover,
header .branches:hover {
  background-color: rgb(250, 250, 250);
}
/* main */
main {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.76);
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
main .container .box {
  width: calc(100vw / 4.2);
  height: 100%;
  margin: 5px 0;
}
main .container .box img {
  width: 100%;
  height: fit-content;
}
main .container .box figcaption {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
/* first */
main .container .box figcaption .first {
  width: fit-content;
  height: fit-content;
  margin: 0 2.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .container .box figcaption .first .first_img {
  width: 18px;
  height: 18px;
}
/* center */
main .container .box figcaption .center {
  width: 100%;
  height: 100%;
  font-size: smaller;
  margin: 0 2.5px;
}
main .container .box figcaption .center .tittle {
  width: 100%;
  font-weight: 500;
  text-transform: capitalize;
}
main .container .box figcaption .center .tittle2 {
  color: rgb(170, 169, 169);
  font-weight: 500;
  text-transform: capitalize;
}
/* third */
main .container .box figcaption .third {
  height: 25%;
  width: 15%;
  margin: 2px;
  margin: 0 2.5px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  cursor: pointer;
}
main .container .box figcaption .third .third_img {
  width: fit-content;
  height: 15px;
}
/* Media Queries width: 586px */
@media (max-width: 600px) {
  main .container .box {
    width: calc(100vw / 2.3);
  }
}
/* Media Queries width: 800px */
@media (max-width: 800px) {
  nav .search,
  nav .search .search_con {
    display: none;
  }
  nav .right_icon .icon:nth-child(1) {
    display: flex;
  }
}
/* Media Queries width: 319px */
@media (max-width: 319px) {
  body {
    display: none;
  }
}
