/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* nav bar */
nav {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid silver;
}

/* logo */
nav .logo {
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}
nav .logo img {
  width: 150px;
  height: max-content;
}
/* search */
nav .search {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 35px;
}
nav .search input {
  font-size: medium;
  padding: 0 10px;
  width: 35vw;
  height: 35px;
  margin-left: 80px;
  outline: none;
  border-radius: 0;
  border: 1px solid silver;
}
nav .search .search_con {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  border: 1px solid silver;
  cursor: pointer;
}

nav .search .search_con .fa-search {
  font-size: large;
  display: flex;
}
nav .search .search_con:hover {
  background-color: rgb(241, 234, 234);
}
/* Mic */
nav .search .mic {
  background-color: rgb(231, 230, 230);
  margin-left: 15px;
  border-radius: 50%;
  padding: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
}
nav .search .mic img {
  width: 20px;
  height: 20px;
}
nav .search .mic:hover {
  background-color: rgb(223, 221, 221);
}

/* right icon */
nav .right_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
nav .right_icon .user {
  background-color: rgb(241, 238, 238);
}
nav .right_icon .icon:nth-child(1) {
  display: none;
}
nav .right_icon .icon {
  width: 34px;
  height: 34px;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
nav .right_icon .icon img {
  width: 18px;
  height: 18px;
}
nav .right_icon .icon:hover {
  background-color: rgb(223, 221, 221);
}
/* comman right_icon in css */
/* remove list icon */
nav .right_icon figure ul li ul,
nav .right_icon figure ul li {
  list-style: none;
}
/* remove scrollbar */
nav .right_icon figure:hover ul li ul::-webkit-scrollbar{
  display: none;
}
/* hover */
nav .right_icon figure:hover ul li ul .hover:hover{
  background-color: rgb(238, 235, 235);
}
/* box */
nav .right_icon figure ul li ul {
  display: none;
  position: absolute;
  border: 1px solid silver;
}
nav .right_icon figure:hover ul li ul {
  display: list-item;
  border-radius: 5px;
  background-color: rgb(255, 253, 253);
  width: fit-content;
  height: fit-content;
  overflow: scroll;
}
/* remove link */
nav .right_icon figure:hover ul li ul li a {
  text-decoration: none;
  color: black;
}
/* Dashboard */
nav .right_icon .dashboard ul li ul {
  right: 135px;
}
nav .right_icon .dashboard:hover ul li ul .hover {
  padding: 10px ;
}
/* content */
nav .right_icon .dashboard:hover ul li ul li img {
  margin-right: 10px;
  margin-top: 6px;
}
nav .right_icon .dashboard:hover ul li ul li span {
  font-weight: 300;
}
/* bell */
nav .right_icon .bell ul li ul {
  right: 90px;
}
nav .right_icon .bell:hover ul li ul {
  height: 400px;
}
nav .right_icon .bell:hover ul li ul .padding{
  padding: 15px 6px;
}
nav .right_icon .bell:hover ul li ul .hr{
  padding: 15px 0;
}
/* content */
/* 1 */
nav .right_icon .bell:hover ul li ul li span{
  float: left;
}
nav .right_icon .bell:hover ul li ul li img{
 float: right;
}
/* 2 */
nav .right_icon .bell:hover ul li ul .flex{
  display: flex;
  align-items: center;
}

nav .right_icon .bell:hover ul li ul li .dot{
  padding-bottom: 20px;
  font-size: xx-large ;
  color: blue;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .bell_user_con{
  border: 1px solid silver;
  border-radius: 50%;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .bell_user{
  margin: 5px;
}

nav .right_icon .bell:hover ul li ul li p{
  width: fit-content;
  height: fit-content;
  text-align: left;
  font-size: small;
  margin: 0 5px;
}
nav .right_icon .bell:hover ul li ul li .banner{
  width: 50px;
  height: max-content;
  margin: 0 3px;
}
nav .right_icon .bell:hover ul li ul li .dots{
  width: fit-content;
  height: 15px;
  margin: 0 3px;
  margin: 0 10px;
}
/* user */
nav .right_icon .user ul li ul {
  right: 50px;
}
nav .right_icon .user:hover ul li ul {
  height: 500px;
}
/* flex */
nav .right_icon .user:hover ul li ul .flex{
  display: flex;
  align-items: center;
}
/* content */
/* user container */
nav .right_icon .user:hover ul li ul li .user_con{
  border: 1px solid silver;
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(250, 245, 245);
  border-radius: 50%;
  margin: 10px;
  margin-right: 6px;
}
nav .right_icon .user:hover ul li ul .one{
  margin: 10px 0;
}
nav .right_icon .user:hover ul li ul li .user{
  margin: 6px;
}
/* account */
nav .right_icon .user:hover ul li ul li .account{
  font-size: small;  
  margin: 0 10px;
}
nav .right_icon .user:hover ul li ul li .account p:nth-child(1){
  margin-bottom: 10px;
  font-weight: 400;
}
nav .right_icon .user:hover ul li ul li .account p:nth-child(2){
  color: blue;
}
/* 2 */
nav .right_icon .user:hover ul li ul li .first{
  width: 25px;
  height: 25px;
  margin: 10px;
}
/* hover */
nav .right_icon .user:hover ul li ul .hover{
  padding: 5px;
}
nav .right_icon .user ul li ul li .restricted{
  margin: 10px;
}
/* header */
header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  overflow: scroll;
  border-bottom: 1px solid silver;
}
header::-webkit-scrollbar {
  display: none;
}
header .branches {
  border: 1px solid silver;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: rgb(241, 234, 234);
  border-radius: 20px;
  cursor: pointer;
}
header .branches:hover {
  background-color: silver;
}
/* main */
/* main{
  width: 100vw;
  height: 100vh;
  background-color: rgb(238, 235, 235);
}
main section{
  display: flex;
  align-items: center;
}
main section figure{
border: 2px solid black;
margin: 10px;
}
main section figure .video{
  width: 400px;
}
main section figure figcaption p{
width: 300px;
margin: 10px;
} */
/* Media Queries */
@media (max-width: 800px) {
  nav .search,
  nav .search .search_con {
    display: none;
  }
  nav .right_icon .icon:nth-child(1) {
    display: flex;
  }
}
@media (max-width:319px) {
  body{
    display: none;
  }
}